.main-chat
  .header
    %h3
      = @group.name
    .header__group-member
      %h4
        Member:
      - @group.users.each do |user|
        %p
          = user.name
    .header__edit-btn
      =link_to "Edit", edit_group_path(@group) , class: 'edit-link'
  
  .messages
    = render partial: 'message', collection: @messages
  
  .footer
    = form_for [@group, @message] do |f|
      = f.text_area :text, class: 'text_area', placeholder: 'type a message'
      .mask
        = f.label :image, class: 'mask__image' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'btn'