.side-bar
  .user-name
    .top-items
      %h1
        = current_user.name
      .top-items__icons
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog', class: "i")
        = link_to "#" do
          = icon('fas', 'edit', class: "i")

  .group-list
    .my-group
      %h2
        group_id_1
      %p
        また連絡するよ。
    .my-group
      %h2
        group_id_2
      %p
        まだメッセージはありません。

